<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1047324360879-lf04rnebmak2to81fs178fkjgq73tthg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1047324360879-lf04rnebmak2to81fs178fkjgq73tthg</string>
	<key>API_KEY</key>
	<string>AIzaSyCyvRTTYu_avHdyBY74Zn9lgK5ddYyQPiY</string>
	<key>GCM_SENDER_ID</key>
	<string>1047324360879</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.seung.FirebaseChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-5d6ec</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-5d6ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1047324360879:ios:e9437667ce6d8f7f2e145a</string>
</dict>
</plist>